<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="#" th:action="@{/}" th:object="${validatingKeyForm}" method="post">
            <table>
                <tr>
                    <td>apiKey:</td>
                    <td><input type="text" th:field="*{apiKey}" /></td>
                    <td th:if="${#fields.hasErrors('apiKey')}" th:errors="*{apiKey}">apiKey Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>